body {
    margin:0;
    font-family: 'Montserrat', sans-serif;  /*check this*/
    background: #509AF8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.logo h1 {
    font-size: 22px;
    margin-top:20px;
}

.container {
    background: #fff;
    border-bottom: 6px solid #36bd09;
    border-right: 6px solid #3BD009;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
    overflow: hidden;
    width: 300px;
    max-width: 100%;
    min-height: 400px;
    display: inline-block;
    padding : 35px;
    margin: 30px;
    text-align: center;

}

.card-title {
    font-weight: 900;
    font-size: 25px;
}

.card-content1 {
    font-weight: 400;
    font-size: 15px;
}

.card-content1 {
    font-weight: 400;
    font-size: 15px;
}
/*DISCORD*/

.discord {
    display: flex;
    align-items: center;
  }
.discord img {
    margin-left: 5px;
    background: #fff;
    border-radius: 20px;
    padding: 3.5px;
}
  
/*BUTTON*/

.card-button {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg,  #0400ff, #4ce3f7);
    /*background-image: linear-gradient(90deg, #146CF6, #0672e8, #188AF0,#00B7D8,#01b496, #3BD009, #00F800);*/
    border-radius: 20px;
    background-size: 100% auto;
    font-family: inherit;
    font-size: 17px;
    padding: 0.6em 1.5em;
    margin-bottom: 5px;
}

.card-button:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
   }
   
   @keyframes pulse512 {
    0% {
     box-shadow: 0 0 0 0 #05bada66;
    }
   
    70% {
     box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }
   
    100% {
     box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
   }

